<article class="article">
  <% if (post.link || post.title){ %>
  <header>
    <%- partial('post/title', {class_name: 'title'}) %>
  </header>

  <% } %>
  <div class="meta">
    <%- partial('post/date', {class_name: 'date', date_format: null}) %>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
  </div>

  <%- partial('post/gallery') %>

  <div class="body">
  <% if (post.excerpt && index){ %>
    <%- post.excerpt %>
  <% } else { %>
    <%- post.content %>
  <% } %>
  </div>

  <% if (post.excerpt && index){ %>
  <footer>
    <a class="more-link" href="<%- url_for(post.path) %>#more">
      <%= __(theme.excerpt_link) %>
    </a>
  </footer>
  <% } %>

</article>
